<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}" defer></script>
    <style>
     h1 {text-align: center;}
     h3 {text-align: center;}
     p {text-align: center;}
     div {text-align: center;}
</style>
    <title>{{ title }}</title>
</head>
<body>
<header class="container-fluid">

    {% include 'navbar.html' %}
</header>
<div id="flash-messages">
    {# Displays flashed messages on a page #}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-info" role="alert">{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
<main>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</main>
</footer>
    <p>N. Zavaropoulos , D.D. Dupont, C. Vanelli Coralli, A. Ripa - IFP</p>
</footer>
</body>
</html>